/* **** FORM **** */

.card form {
    margin: auto;
    width: 75%;
    box-sizing: border-box;
}

.card .form-section {
    margin: 5px 6vw;
    padding: 10px 0px;
}

.form-section p {
    margin: 5px 0px;

}

.form-section input[type=text],
.form-section input[type=email], 
.form-section select {
    width: 100%;
    padding: 12px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    resize: vertical;
}

.form-section label {
    padding: auto;
    display: inline-block;
}

.form-section .report {
    margin-bottom: 20px;
}

.form-button {
    text-align: center;
}

.form-button button {
    background-color: rgba(44,82,47,1) ;
    color: white;
    padding: 5px;
    margin: 2px 0px;
    width: 50%;
    letter-spacing: -1px;
    border-radius: 32px;
    border: 0px solid #ccc;
}

.form-button .white-button{
    color: rgba(44,82,47,1);
    background-color: white;
    padding: 5px;
    width: 50%;
    border-radius: 32px;
    border: 1px solid rgba(44,82,47,1);
}

input[type="file"] {
    display: none;
}

.file-input-div {
    margin-top: 6px;
}

.file-upload {
    font-size: 13px;
    display: inline-block;
    width: 60%;
    padding: 12px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.new-file{
    font-size: 13px;
    letter-spacing: -1.2px;
    font-weight: 400;
    width: 38%;
    height: 52px;
    padding: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

@media (max-width: 991px) {

    .card .form-section {
        margin: 5px 1vw;
    } 

    .file-upload {
        width: 57%;
    }
    
    .new-file{
        width: 40%;
    }

    .form-button button, .form-button .white-button {
        width: 60%;
    }
}

@media (max-width: 767px) {
    .card form {
        width: 100%;
    }    

    .form-button button, .form-button .white-button {
        width: 80%;
    }
}