* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background: rgb(0,36,1);
    background: linear-gradient(90deg, rgba(0,36,1,1) 0%, rgba(44,82,47,1) 0%, rgba(36,194,64,1) 50%); 
    padding: 0vh 15vw;
}

@media screen and (max-width: 1400px) {
    body {
        padding: 0vh 10vw;
    }
}

@media screen and (max-width: 1200px) {
    body {
        padding: 0vh 5vw;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding: 0vh 2vw;
    }
}

/* **** NAV **** */

nav {
    background-color: white;
    border-radius: 10px;
    margin: 20px 0px;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    font-size: 17px;
    display: block;
    text-decoration: none;
    letter-spacing: -1px;
    font-weight: 600;
    margin: 0px 5px;
    color: rgb(0,36,1);
}

nav li a.home {
    letter-spacing: 0px;
    color: rgba(44,82,47,1);
}

nav li a.redirect:hover {
    opacity: 0.5;
}

@media (max-width: 767px) {
    nav {
        margin: 20px 0px;
    }

    nav li {
        float: none;
        text-align: center;
        padding: 5px 0px;
    }
    nav li a {
      display: block;
    }
}
  
/* **** CARD **** */

.card {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0px;
}
.card h3 {
    text-align: center;
    color: rgb(0,36,1);
}
.card p {
    margin: 5px 8vw;
}

@media (max-width: 767px) {
    .card {
        margin: 10px 0px;
    }
    .card p {
        margin: 5px 2vw;
    } 
}

/* **** ROW/COL **** */

.row {
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
}

.col-50 {
    float: left;
    align-items: center;
    width: 50%;
}
  
.col-75 {
    float: left;
    align-items: center;
    width: 75%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 767px) {
    .row {
        display: block;
    }

    .col-50 {
        margin: 10px 0px;
        width: 100%;
    }

    .col-25, .col-75 {
        margin: 10px 0px;
        width: 100%;
        margin-top: 0;
    }
}

/* **** BUTTONS **** */

.btn{
    background-color: rgba(44,82,47,1);
    text-align: center;
    color: white;
    margin: auto;
    padding: 5px;
    letter-spacing: -1px;
    border-radius: 32px;
    border: 0px solid #ccc;
}

.btn-white{
    color: rgba(44,82,47,1);
    background-color: white;
    border: 1px solid rgba(44,82,47,1);
}

.btn a, .btn-white {
    color: inherit;
    letter-spacing: inherit;
    text-decoration: none;
}

.div-buttons {
    margin-top: 20px;
    text-align: center;
}

.div-buttons .btn {
    width: 50%;
    margin: 2px auto;
}